<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <div th:each="album : ${albumList}">
        <h2>Title</h2>
        <p th:text="${album.title}"></p>
        <h2>Artist</h2>
        <p th:text="${album.artist}"></p>
        <h2>Song Count</h2>
        <p th:text="${album.songCount} + 'songs'"></p>
        <h2>Length of Songs</h2>
        <p th:text="${album.length} + 'seconds'"></p>
        <h2>Album Cover</h2>
        <img th:src="${album.imageUrl}">
    </div>

</body>
</html>